:root{
  --dark_bg:#282c34;
  --heart_logo:20px;
}

.main_container {
  text-align: center;
  background-color: var(--dark_bg);
  overflow: auto;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.main_content{
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  margin: auto;
  min-width: fit-content;
  max-width: 70%;
  overflow: auto;
  scroll-behavior: smooth;
  height: 70vh;
}
.footer{
  display:flex;
  align-items: center;
  color: white;
  background-color: transparent;
  column-gap: 5px;
  bottom: 5px;
  position: absolute;
  right: 5px;  
  width: fit-content;
  /* left:50%; */
}
.heart-logo{
  width: var(--heart_logo);
  height: var(--heart_logo);
}


